
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

body {
	background-image:url('img/cover.jpg');
	font-family:Helvetica,arial,sans-serif;
}

nav {	
	margin-left:2rem;
	display:block;
	border-bottom: 1px solid black;
}

nav li {
	font-size:1.5rem;
    display: inline-block;
	color:white;
	padding-right:1em;
}

nav li:hover {
	background-color:red;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

article {	
	color:white;
	border:5px;
	border-color:black;
}

.button {
	background-color:red;
	height:2em;
	width:15em;	
	display:block;	
}

