
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

body {
	background-image:url('img/cover.jpg');
	font-family:Helvetica,arial,sans-serif;
	margin-top:0px;
	background-color:#000000;
}

nav {	
	margin-left:2rem;
	display:block;
	/*border-bottom: 1px solid black;*/
	margin-top:0px;
	padding-top:0px;
	position:relative;	
}

nav > ul > li {
	font-size:1.5rem;
    display: inline-block;
	color:white;
	padding-left:0.2em;
	padding-right:0.2em;
	margin-right:1em;
	height:2.2em;	
	outline:none;	
}

nav li:hover {
	background-color:red;
}

nav > ul {
	line-height:3em;
    list-style-type: none;    	
	padding:0;
	margin-top:0px;
	margin-left:0px;
}

article {	
	color:white;
	border:5px;
	border-color:black;	
}

.button {
	background-color:red;
	height:2em;
	width:14em;	
	display:block;
	padding-top:1em;
}

.heading {
	font-weight:200;
}

.btnrounded {
	border:5px rounded;
	border-color:yellow;
}

.employee {
	font-size:0.9em;
	display:inline-block;
	width:30em;
}